Repository raptium/tauri-plugin-mcp-manager: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write, cargo fmt

format
  build.rs
  examples/tauri-app/biome.json
  examples/tauri-app/example.config.json
  examples/tauri-app/package.json
  examples/tauri-app/src-tauri/capabilities/default.json
  examples/tauri-app/src-tauri/gen/schemas/acl-manifests.json
  examples/tauri-app/src-tauri/gen/schemas/capabilities.json
  examples/tauri-app/src-tauri/gen/schemas/desktop-schema.json
  examples/tauri-app/src-tauri/gen/schemas/windows-schema.json
  examples/tauri-app/src-tauri/tauri.conf.json
  examples/tauri-app/src/components/McpManager.vue
  examples/tauri-app/src/style.css
  examples/tauri-app/tsconfig.json
  examples/tauri-app/tsconfig.node.json
  examples/tauri-app/vite.config.js
  src/commands.rs
  src/desktop.rs
  src/error.rs
  src/lib.rs
  src/models.rs
Due: biome check --write, cargo fmt

chore: include build outputs for easy consuming
  dist-js/commands.d.ts
  dist-js/index.cjs
  dist-js/index.d.ts
  dist-js/index.js
  dist-js/transport.d.ts
Due: biome check --write

chore: update author information and add MIT license
  Cargo.toml
  LICENSE
  README.md
  package.json
Due: biome check --write

refactor: clean up imports and remove debug logging in desktop.rs
  src/desktop.rs
Due: cargo fmt

refactor: enhance MCP server communication and update package scripts
  .lintstagedrc
  dist-js/commands.d.ts
  dist-js/index.cjs
  dist-js/index.js
  dist-js/transport.d.ts
  guest-js/commands.ts
  guest-js/transport.ts
  package.json
  src/desktop.rs
  src/models.rs
Due: biome check --write, cargo fmt

Path conditions:
  biome check --write: any of: *.{js,ts,vue,json,md}
  cargo fmt: any of: *.rs
